<div style="border-top:2px solid #000;box-shadow:0 1px 3px #AAAAAA;line-height:180%;padding:0 15px 12px;width:500px;margin:50px auto;font-size:12px;">  
    <h2 style="border-bottom:1px solid #DDD;font-size:14px;font-weight:normal;padding:13px 0 10px 8px;">
        您在 <a style="text-decoration:none;color: #ab3838;" href="<%=siteUrl%>" target="_blank">
            <%=siteName%>
            </a>上的評論有了新的回覆
    </h2> 
        <%=pname%>，您曾發表評論：
    <div style="padding:0 12px 0 12px;margin-top:18px">
        <div style="background-color: #f5f5f5;padding: 10px 15px;margin:18px 0;word-wrap:break-word;">
            <%-ptext%>
        </div>
        <p><%=name%> 給您回覆道：</p>
        <div style="background-color: #f5f5f5;padding: 10px 15px;margin:18px 0;word-wrap:break-word;">
            <%-text%>
        </div>
        <p>您可以點擊<a style="text-decoration:none; color:#ab3838" href="<%=url%>" target="_blank">查看回覆的完整內容</a>。
            <br>
            本郵件為系統自動發送，請勿直接回覆。
        </p>  
    </div>  
</div>